@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,100&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fbf8f6;
}

body::-webkit-scrollbar {
  width: 0.5px;
  opacity: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto 25px auto;
  padding: 60px;
  padding-bottom: 15px;

  border-radius: 17px;
  background-color: #e9e3e8;
}

p {
  margin: 0;
  font-family: "Raleway";
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

#masque ~ .before {
  display: none;
}

h2 {
  width: 50%;
  min-width: 200px;
  max-width: 570px;
  text-align: center;
  text-transform: capitalize;
  font-family: "Cinzel";
  color: #fbf8f6;
  font-size: clamp(1.3rem, 3vw, 1.8rem);
  background-color: #e9e3e8;
  border-width: 4px;
  border-style: solid;
  text-shadow: 1px 1px 0 #ceabab, -1px 1px 0 #ceabab, 1px -1px 0 #ceabab,
    -1px -1px 0 #ceabab;
  border-image: linear-gradient(to top, #fbf8f6 0%, #fbf8f6 33%, #ceaaaa 100%) 1;
  padding: 10px 3%;
  margin-top: -85px;
  margin-bottom: 22px;
  white-space: nowrap;
}

/********  CSS de la page de présentation *******/

.before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(./assets/img/Photos/IMG_9274.JPG) center/cover;
  height: 100vh;
  transition: transform 0.5s ease-out;
}

.hide {
  transform: translateY(-100%);
}

.opacity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.447);
}

.identity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 90%;
}

.identity img {
  width: 400px;
  margin: 0 auto;
}

h1 {
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  color: #ceaaaa;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.before a {
  flex-basis: 20%;
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 3.5rem;
  cursor: pointer;
}

/*************** CSS du header *****************/

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 0 60px;
}

header i {
  font-size: 2rem;
  color: #ceaaaa;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin: 25px auto 0 auto;
}

/*************** CSS de la page login *****************/
.login {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background-color: #ddc4c4;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logout {
  color: #cdaaaa;
  font-family: "raleway";
  font-size: 1.2rem;
}

.formulairelog {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 15px auto 15px auto;
}

.formulairelog p {
  font-size: 2.2rem;
  color: rgb(182, 128, 127);
}

.formulairelog input {
  width: 90%;
  height: 30px;
  border: 2px solid #af7e82;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 6px;
  border: none;
}

.formulairelog input:focus {
  outline: none;
}

.formulairelog input::placeholder {
  font-family: "Raleway";
  font-weight: 700;
  color: #af7e82b6;
}

.formulairelog input:nth-child(2) {
  margin-bottom: 0;
}

.formulairelog button {
  border: none;
  border: 2px solid #af7e82;
  border-radius: 50%;
  padding: 15px;
  border-radius: 50px;
  background: #fff;
  margin-top: 30px;
  transition: all 0.3s;
  cursor: pointer;

  /* text-align: center; */
}

.formulairelog button i {
  font-size: 1.3rem;
  color: #b88988;
}

.formulairelog a {
  color: #b6807f;
  font-size: 0.7rem;
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.mdp {
  color: #bab6b9;
}

.creation-container {
  margin: auto;
  width: 80%;
  padding: 10px;
  border: 1px solid #976a76;
  margin-top: 10px;
  border-radius: 5px;
}

.creation {
  text-align: center;
}

/********Menu Hamburger**************/
.menu-toggle {
  padding: 5px;
  cursor: pointer;
}

.menu-bar {
  display: block;
  width: 35px;
  height: 5px;
  border-radius: 15px;
  border: 1px solid #8a6f5f;
  margin: 5px Auto;
  background-color: #ceaaaa;
}

/******** CSS de la navigation *********/

nav {
  position: fixed;
  top: 0;
  right: 0px;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 13%;
  height: 100%;
  width: 100%;
  background-color: #ddc4c4;
  z-index: 998;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  /* height: 50vh; */
  margin: 80px auto;
  gap: 40px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-family: "Cinzel", serif;
  color: #fcf7f4;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 10px;
}

.close-menu {
  color: #fbf8f6;
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 3.5rem;
}

.fa-house {
  color: #fbf8f6;
  font-size: 2.2rem;
  margin-bottom: 60px;
}

.fa-user,
.close-menu,
.close-admin {
  cursor: pointer;
}

/******** CSS du block logo *********/

.logo {
  display: flex;
  flex-direction: column;
}

.logo h1 {
  font-family: "Cinzel", serif;
  color: #ceaaaa;
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 30px auto 0 auto;
}

.logo h1::first-letter {
  font-size: 2.5rem;
}

.logo img {
  width: 220px;
  margin: -85px auto 0 auto;
  transform: rotate(25deg);
}

/******** CSS du block description *********/

.description {
  width: 88%;
  margin: auto;
}

.description img {
  width: 100%;
  max-height: 350px;
  border-radius: 8px 8px 0 0;
  box-shadow: 1px 1px 10px #b594835e;
  object-fit: cover;
}

.description p {
  font-family: "Raleway";
  font-size: 1.2rem;
  line-height: 20px;
  text-align: justify;
  tab-size: 50px;
  width: 100%;
  margin: 15px 0;
  hyphens: auto;
  text-indent: 25px;
}

/******** CSS du block certificat *********/

.certificate h3,
.client h3 {
  width: 65%;
  margin: auto;
  text-align: center;
  font-family: "Cinzel";
  font-size: 1.8rem;
  color: #af7e82;
}

.certificate h3::before,
.client h3:before {
  display: flex;
  content: "";
  height: 3px;
  width: 78%;
  margin: 20px auto 10px auto;
  background-color: #fcf7f4;
}

.certificate h3::after,
.client h3:after {
  display: flex;
  content: "";
  height: 3px;
  width: 70%;
  margin: 10px auto 30px auto;
  background-color: #fcf7f4;
}

.document {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.document .img {
  width: 60%;
  margin-bottom: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.2s ease-in;
  border-radius: 8px;
  cursor: pointer;
}

.document .img:nth-child(2) {
  margin: 5px;
}

.zoomer {
  transform: scale(1.3);
  transition: 0.2s ease-out;
  position: relative;
  z-index: 100;
}

/********* CSS de la page prestations *******/

.presta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.title {
  width: 80%;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #996766;
  margin: 0 auto 25px auto;
}

.title::before {
  display: flex;
  content: "";
  height: 3px;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  left: 50%;
  margin-bottom: 12px;
  background-color: #ceaaaa;
}

.title::after {
  display: flex;
  content: "";
  height: 3px;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  left: 50%;
  margin-top: 12px;
  background-color: #ceaaaa;
}

.presta img {
  width: 50%;
  user-select: none;
}

.descriptionpresta {
  font-size: 1rem;
  line-height: 23px;
  text-align: justify;
  width: 75%;
  margin: 25px auto;
  /* garder seulement 5 lignes */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  font-family: "Raleway";
  hyphens: auto;
}

.presta i {
  color: #5e3535;
  font-size: 1.2rem;
  border-radius: 50%;
  padding: 10px;
  background: #e9e3e8;
  box-shadow: 3px 3px 10px #a8a3a7, -3px -3px 10px #ffffff;

  flex-shrink: 1;
  margin-bottom: 12px;
}

.presta i:active {
  box-shadow: -6px -6px 10px #a8a3a7, 6px 6px 10px #ffffff;
}

.fa-minus {
  display: none;
}

/* ******** CSS de la page galerie  *******/
.carousel {
  height: 390px;
}

.container input[type="radio"] {
  display: none;
}

.container {
  width: 60%;
  max-width: 304px;
  margin: 50px auto;
  transform-style: preserve-3d;
}

.cards {
  width: 100%;
  height: 250px;
  position: relative;
  margin-bottom: 20px;
}

.card {
  position: absolute;
  width: 100%;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}
.card img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#item-1:checked ~ .cards #img-3,
#item-2:checked ~ .cards #img-1,
#item-3:checked ~ .cards #img-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #img-2,
#item-2:checked ~ .cards #img-3,
#item-3:checked ~ .cards #img-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #img-1,
#item-2:checked ~ .cards #img-2,
#item-3:checked ~ .cards #img-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}



.client {
  width: 70%;
  position: relative;
}

.avis {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 250px;
  margin: 20px auto 10px auto;
  object-fit: cover;
}

.avis img {
  display: none;
  max-width: 100%;
}

.avis .prev,
.avis .next {
  position: absolute;
  top: 50%;
  background-color: #99676685;
  border: 1px solid #996766;
  color: white;
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 5px;
  transform: translateY(-50%);
}

.next {
  right: 5px;
  transform: translateY(-50%);
}

/********* CSS de la page tarifs *******/

.title-tarif {
  font-size: 1rem;
  padding: 6px 15px;
  text-transform: uppercase;
  background: #b6807f;
  color: #e9e3e8;
}

.group-tarif {
  width: 75%;
  margin: auto;
}

.unique-tarif {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

hr {
  margin-top: 3px;
}

/********* CSS de la page contact  *******/

.contact {
  width: 65%;
  font-family: "Raleway";
  color: #af7e82;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

input[type="text"],
input[type="file"],
textarea,
select,
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 5px;
  resize: none;
  border: 2px solid #af7e82;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid #c7787e;
}

input[type="file"] {
  width: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -border-radius: 3px;
  height: 20px;
  width: 20px;
  border: 1px solid #af7e82;
  background: #fff;
  box-shadow: inset 2px 2px 5px #d9d9d9, inset -2px -2px 5px #ffffff;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: #af7e82;
  box-shadow: none;
  box-shadow: inset 2px 2px 5px #a38c8e, inset -2px -2px 5px #a48285;
}

input[type="checkbox"]:checked {
  border-radius: 5px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 1px solid #af7e82;
  background: #fff;
  box-shadow: inset 2px 2px 5px #d9d9d9, inset -2px -2px 5px #ffffff;
}

form label,
legend {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 12px;
}

.choix-art {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.choix-art label,
.choix-etat label {
  margin: 0;
  font-weight: normal;
}

.choix-etat {
  display: flex;
  width: 100%;
}

.bon,
.mauvais {
  flex-basis: 50%;
  text-align: center;
}
textarea::placeholder {
  color: #af7e8250;
}
.art {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formulaire {
  height: 40px;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  display: flex;
  align-items: center;
  background: #5e3535;
  border: none;
  border: 2px solid #654242;
  color: #fcf7f4;
  margin: 28px 0 5px 0;
  cursor: pointer;
  border-radius: 6px;
  padding: 0 10px;
}

/********* CSS du calendrier  *******/

/* Container général pour l'agenda */
.agenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.agenda-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.agenda-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.agenda-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

.day {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #333;
  background-color: #f0f0f0;
  padding: 5px 0;
  border-radius: 5px;
}

.agenda-body {
  display: flex;
  width: 100%;
}

.slots {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.slot {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.agenda button {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.agenda button:hover {
  background-color: #0056b3;
}

.agenda-body button.reserved {
  cursor: not-allowed;
  color: #999;
  text-decoration: line-through;
}

.slot label {
  margin: 0;
  height: 55%;
  border-radius: 5px;
}

.slot form,
.slot button {
  width: 100%;
  height: 100%;
}

.slot button {
  cursor: pointer;
  color: #b129c3;
  background-color: #fff;
  border: #b129c3 1px solid;
}

.slot-radio {
  display: none;
}

.slot-radio + label {
  display: inline-block;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.slot-radio:checked + label {
  background-color: #4caf50;
  color: #fff;
}

/************** CSS register ***********/

.allergie {
  display: flex;
  gap: 8px;
}

/********* CSS du profil  *******/

.compte {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.onglet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.onglet a,
.delete {
  width: 70%;
  margin: auto;
  background-color: #cdaaaa;
  text-align: center;
  border-radius: 5px;
  margin-top: 26px;
  color: #000;
  font-weight: 500;
  padding: 10px 2%;
  font-family: "Raleway";
  border: none;
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}

.prrdv:hover,
.delete a:hover {
  background-color: #976767;
  color: #cdaaaa;
  font-weight: 700;
}

.delete {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0;
  height: auto;
  width: 60%;
}

.delete a {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-size: 0.7rem;
  margin: 0;
}

.pf-struct {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pf-struct input {
  text-align: center;
  width: 90%;
  font-size: 1.1rem;
  margin: auto;
  height: 30px;
  border-radius: 8px;
  background: #e9e3e8;
  padding: 8px 15px;
}

/********* CSS du footer  *******/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #996766;
  color: #5e3535;
  font-family: "Raleway", sans-serif;
  padding: 20px 0;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 10px;
}

.insta,
.tiktok {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  color: #5e3535;
  gap: 6px;
}

.socials i {
  font-size: 1.4rem;
}

.socials p {
  font-weight: 800;
  font-size: 1rem;
}

.nav-down ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.nav-down li {
  list-style: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
  flex-basis: 25%;
}

.nav-down a {
  font-weight: 600;
  color: #5e3535;
}

.nav-down ul::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  margin: auto;
  height: 1px;
  z-index: 2;
  background-color: #5e3535;
}

.nav-down ul::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  margin: auto;
  height: 1px;
  z-index: 2;
  background-color: #5e3535;
}

.copy {
  text-align: center;
  margin-top: 8px;
  font-size: 0.6rem;
}

/* Responsive */

/* pour l'ordinateur */
@media screen and (min-width: 900px) {
  /*description*/
  .description {
    display: flex;
  }



  .document img {
    width: 40%;
    max-width: 220px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.3s ease-in-out;
  }
  .document img:hover {
    transform: scale(1.5);
  }

  .document img:first-child {
    margin-top: 60px;
  }

  .document img:last-child {
    height: 80%;
  }

  .document img:hover {
    transform: scale(1.1);
  }
}
