:root {
  --bg-color: #fbf8f6;
  --main-bg-color: #e9e3e8;
  --title-bg-color: #dccbcb;
  --menu-bg-color: #996766e0;
  --nav-bg-color: #ddc4c4;
  --accent-color: #ceaaaa;
  --line-color: #cdabab;
  --other-color : #cdaaaa;
  --white : #fff;
  --button : #825857;
  --dark-pink : #996766;
  --other-color-2: #af7e82;
  --color-text-footer :#5e3535;
  --title-font: 'Cinzel', serif;
  --text-font: 'Raleway', sans-serif;
}


@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,100&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

body::-webkit-scrollbar {
  width: 0.5px;
  opacity: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  margin: 0 auto 25px auto;
  padding: 60px 40px 25px 40px;
  border-radius: 17px;
  background-color: var(--main-bg-color);
}

p {
  margin: 0;
  font-family: var(--text-font);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

#masque ~ .before {
  display: none;
}

h2 {
  width: 50%;
  min-width: 200px;
  max-width: 570px;
  text-align: center;
  text-transform: capitalize;
  font-family: var(--title-font);
  color: var(--white);
  font-size: clamp(1.6rem, 4.5vw, 2.3rem);
  background-color: var(--title-bg-color);
  border-width: 4px;
  border-style: solid;
  text-shadow: 1px 1px 0 var(--line-color), -1px 1px 0 var(--line-color), 1px -1px 0 var(--line-color),
    -1px -1px 0 #ceabab;
  border-image: linear-gradient(to top, var(--bg-color) 0%, var(--bg-color) 33%, var(--accent-color) 100%) 1;
  padding: 10px 3%;
  margin-top: -85px;
  margin-bottom: 22px;
  white-space: nowrap;
  user-select: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

/*************** CSS du header *****************/

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.menu {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 5%;
  padding: 10px 25px;
  background-color: #996766e0;
  border-radius: 0 0 8px 8px;
    transition: top 0.3s ease-in-out;
}

/********Menu Hamburger**************/
.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.menu-bar {
  display: block;
  width: 35px;
  height: 5px;
  border-radius: 15px;
  margin: auto;
  background: var(--other-color);
  box-shadow: 6px 6px 12px var(--button), -6px -6px 12px #b07675;
}

/******** CSS de la navigation *********/

.navigation {
  position: fixed;
  top: 0;
  right: 0px;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 18%;
  height: 100%;
  width: 100%;
  background-color: var(--nav-bg-color);
  z-index: 998;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 80px auto;
  gap: 40px;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  font-family: var(--title-font);
  color: #fcf7f4;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 10px;
}

.close-menu {
  color: var(--bg-color);
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 3.5rem;
}

.fa-house {
  color: var(--bg-color);
  font-size: 2.2rem;
  margin-bottom: 60px;
}

.fa-user,
.close-menu,
.close-admin {
  cursor: pointer;
}

.navordi {
  display: none;
}
/******** CSS du block logo *********/

.logo {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  text-align: center;
}

h1 {
  font-family: var(--title-font);
  color: var(--accent-color);
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 30px auto 0 auto;
  font-size: clamp(1.5rem,4.5vw, 2.5rem);
}

.logo h1::first-letter {
  font-size: 2.6rem;
}

.logo img {
  width: 220px;
  margin: -85px auto 0 auto;
  transform: rotate(25deg);
}

/******** CSS du block description *********/

.description {
  width: 88%;
  margin: auto;
}

.description img {
  width: 100%;
  max-height: 350px;
  border-radius: 8px 8px 0 0;
  box-shadow: 1px 1px 10px #b594835e;
  object-fit: cover;
}

.description p {
  font-size: 1.2rem;
  line-height: 20px;
  text-align: justify;
  tab-size: 50px;
  width: 100%;
  margin: 15px 0;
  hyphens: auto;
  text-indent: 25px;
}

/******** CSS du block certificat *********/

h3 {
  width: 65%;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  font-family: var(--title-font);
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  color: var(--other-color-2);
  user-select: none;
}

h3:before {
  display: flex;
  content: "";
  height: 3px;
  width: 70%;
  margin: 20px auto 10px auto;
  background-color: var(--line-color);
}

h3:after {
  display: flex;
  content: "";
  height: 3px;
  width: 70%;
  margin: 10px auto 30px auto;
  background-color: var(--line-color);
}

.document {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.document .img {
  width: 60%;
  margin-bottom: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.2s ease-in;
  border-radius: 8px;
  cursor: pointer;
}

.document .img:nth-child(2) {
  margin: 5px;
}

.zoomer {
  transform: scale(1.3);
  transition: 0.2s ease-out;
  position: relative;
  z-index: 100;
}

/********* CSS de la page prestations *******/

.presta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.presta img {
  width: 65%;
  user-select: none;
}

.descriptionpresta {
  font-size: 1rem;
  line-height: 23px;
  text-align: justify;
  width: 88%;
  margin: 25px auto;
  /* garder seulement 6 lignes */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  font-family: var(--text-font);
  hyphens: auto;
}

.presta i {
  color: var(--color-text-footer);
  font-size: 1.2rem;
  border-radius: 50%;
  padding: 10px;
  background: var(--main-bg-color);
  box-shadow: 3px 3px 10px #a8a3a7, -3px -3px 10px var(--white);

  flex-shrink: 1;
  margin-bottom: 12px;
}

.presta i:active {
  box-shadow: -6px -6px 10px #a8a3a7, 6px 6px 10px var(--white);
}

.info-presta {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.fa-minus {
  display: none;
}

/*************** CSS de la page login *****************/
.logout {
  width: 150px;
  padding: 8px;
  border-radius: 13px;
  box-shadow: 4px 4px 10px #8e605f, -4px -4px 10px #a46e6d;
  color: var(--other-color);
  font-family: var(--text-font);
  font-size: 1.2rem;
  text-align: center;
}

.logout:hover,
.logout:active {
  box-shadow: none;
  color: var(--white);
}

.formulairelog {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 20px;
}

.formulairelog p {
  font-size: 2.2rem;
  color: rgb(182, 128, 127);
}

.formulairelog input {
  height: 30px;
  margin: 6px;
}

.formulairelog input:focus {
  outline: none;
}

.formulairelog input::placeholder {
  font-family: var(--text-font);
  font-weight: 700;
  color: #af7e82b6;
}

.formulairelog input:nth-child(2) {
  margin-bottom: 0;
}

.formulairelog button {
  border: none;
  border: 2px solid var(--other-color-2);
  border-radius: 50%;
  padding: 15px;
  border-radius: 50px;
  margin-top: 30px;
  transition: all 0.3s;
  cursor: pointer;
  background: var(--main-bg-color);
  box-shadow: 5px 5px 14px #cbc5ca, -5px -5px 14px var(--white);
}

.formulairelog button:hover,
.formulairelog button:active {
  box-shadow: inset 5px 5px 14px #cbc5ca, inset -5px -5px 14px var(--white);
}

.formulairelog button i {
  font-size: 1.3rem;
  color: #b88988;
}

.formulairelog a {
  color: #b6807f;
  font-size: 0.7rem;
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: end;
}


.creation-container {
  margin: auto;
  width: 80%;
  padding: 10px;
  border: 1px solid #976a76;
  margin-top: 10px;
  border-radius: 5px;
}

.creation {
  text-align: center;
}

/* ******** CSS de la page galerie  *******/

.image {
  width: 91%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.image img {
  width: 90%;
  margin: auto;
  object-fit: cover;
}



/* ******** CSS des avis  *******/

.client {
  width: 85%;
  position: relative;
  margin-bottom: 8px;
}

.avis {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 300px;
  margin: 0 auto 10px auto;
  object-fit: cover;
  border-radius: 6px;
}

.avis img {
  display: none;
  object-fit: contain;
  width: 100%;
}

.avis .prev,
.avis .next {
  position: absolute;
  top: 50%;
  background-color: #99676665;
  border: 1px solid #996766d4;
  color: white;
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.prev:hover,
.next:hover {
  background-color: var(--dark-pink);
}

.prev {
  left: 3px;
  transform: translateY(-50%);
}

.next {
  right: 3px;
  transform: translateY(-50%);
}

/********* CSS de la page tarifs *******/

.group-tarif {
  width: 86%;
  margin: auto;
  margin-bottom: 30px;
}

.unique-tarif {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

hr {
  margin-top: 3px;
}

/********* CSS de la page contact  *******/

.register {
  width: 80%;
}

.mobile-calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mobile-date {
  margin-bottom: 15px;
}

#mobile-time {
  margin-bottom: 6px;
  width: 60%;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

input[type="text"],
input[type="file"],
textarea,
select,
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  resize: none;
  border: 2px solid var(--other-color-2);
  border-radius: 3px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 3px solid var(--dark-pink);
}

input[type="file"] {
  width: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -border-radius: 3px;
  height: 20px;
  width: 20px;
  border: 1px solid var(--other-color-2);
  background: var(--white);
  box-shadow: inset 2px 2px 5px #d9d9d9, inset -2px -2px 5px var(--white);
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: var(--other-color-2);
  box-shadow: none;
  box-shadow: inset 2px 2px 5px #a38c8e, inset -2px -2px 5px #a48285;
}

input[type="checkbox"]:checked {
  border-radius: 5px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 1px solid var(--other-color-2);
  background: var(--white);
  box-shadow: inset 2px 2px 5px #d9d9d9, inset -2px -2px 5px var(--white);
}

form label,
legend {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 12px;
  font-family: var(--text-font);
  color: #000000ae;
}

form span {
  color: #723333;
}

.choix-art {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.choix-art label,
.choix-etat label {
  margin: 0;
  font-weight: normal;
}

.choix-etat {
  display: flex;
  width: 100%;
}

.bon,
.mauvais {
  flex-basis: 50%;
  text-align: center;
}
textarea::placeholder {
  color: #af7e8250;
}
.art {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formulaire {
  width: 50px;
  height: 50px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8e2e7;
  border: 2px solid #b88988;
  color: #b88988;
  margin: 28px 0 5px 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 0 10px;
  box-shadow: 5px 5px 14px #cbc5ca, -5px -5px 14px var(--white);
}

.formulaire:hover,
.formulaire:active {
  box-shadow: inset 5px 5px 14px #cbc5ca, inset -5px -5px 14px var(--white);
}

/********* CSS du calendrier  *******/

/* Message d'erreurs */

.error-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--text-font);
  color: var(--white);
  font-weight: 600;
  background: #b22b2b;
  border: 2px solid #5e0b0b;
  border-radius: 5px;
}

.error-container ul {
  list-style: none;
}

/* Container général pour le desktop-calendar */

.contact {
  width: 80%;
  font-family: var(--text-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desktop-calendar {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-transform: capitalize;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.agenda-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.agenda-nav a {
  text-decoration: none;
  color: #333;
}

.current {
  font-weight: bold;
  font-size: 1.1rem;
}

.agenda-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.day {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a16161;
  background-color: #f0f0f0;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 0.8rem;
}

.agenda-body {
  display: flex;
  width: 100%;
}

.slots {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.slot {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--white);
}

.desktop-calendar button {
  border: none;
  background-color: #a47878;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.desktop-calendar button:hover {
  background-color: #a47878;
}

.agenda-body button.reserved {
  cursor: not-allowed;
  color: var(--white);
  font-weight: 600;
  background-color: var(--dark-pink);
  font-size: 1rem;
}

.slot label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 55%;
  border-radius: 5px;
  line-height: 21px;
}

.slot form,
.slot button {
  width: 100%;
  height: 100%;
}

.slot button {
  cursor: pointer;
  color: #421f47;
  background-color: var(--white);
  border: #a47878 1px solid;
}

.slot-radio {
  display: none;
}

.slot-radio + label {
  display: inline-block;
  background-color: #a478784a;
  border: 1px solid #a478788a;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.slot-radio:checked + label {
  background-color: #a47878e3;
  color: var(--white);
}

/************** CSS register ***********/

.allergie {
  display: flex;
  gap: 8px;
}

/********* CSS du fichier client  *******/

table {
  font-family: var(--text-font);
  width: 20%;
  text-align: center;
}

.rechercheUt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 100%;
}

.rechercheUt form {
  width: 75%;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.rechercheUt input {
  width: 80%;
  height: 45px;
  border: none;
  border: 2px solid var(--other-color-2);
  border-radius: 5px 0 0 5px;
  padding: 5px;
  margin: 0;
}

.rechercheUt button {
  width: 10%;
  height: 45px;
  color: var(--white);
  border: 2px solid var(--other-color-2);
  border-radius: 0 5px 5px 0;
  background-color: var(--other-color-2);
  cursor: pointer;
  margin: 0;
  border-left: none;
}

.list-user {
  margin-top: 25px;
}

tr {
  text-transform: capitalize;
  border: 1px solid var(--white);
  height: 32px;
}

th {
  width: 30%;
  border: 2px solid var(--other-color-2);
  height: 30px;
  font-weight: bold;
}

th,
td {
  padding: 8px 16px;
}

tbody tr:nth-child(1) {
  background-color: var(--other-color-2);
  color: var(--white);
}

.user {
  width: 90%;
  margin: 25px 0;
}

.deleterendezvous {
  border: none;

  background-color: var(--button);
  padding: 6px;
  border-radius: 3px;
}
.deleterendezvous:hover, .deleterendezvousclient button:hover {
  background-color: #825857dc;
}

.deleterendezvous a {
  color: var(--white);
}

.info-rdv-client {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--white);
  font-family: var(--text-font);
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
}

.heurerdv {
  font-size: 1.2rem;
  font-weight: 600;
}

.info-rdv-client img {
  width: 80%;
  margin: auto;
}

.info-rdv-client form {
  margin: 10px auto;
}

.deleterendezvousclient {
  width: 100%;
}
.deleterendezvousclient button {
  border: none;
  border-radius: 3px; 
  background-color: var(--button);
  padding: 15px 0px;
}

.deleterendezvousclient a {
  padding: 15px 50px;
  color: var(--white);  
  font-size: 1.1rem;
}

.info-inspi, .info-ongle {
  width: 80%;
  height: 400px;
}

.info-inspi img, .info-ongle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/********* CSS du profil  *******/

.compte {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.compte form {
  width: 100%;
}

.onglet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.onglet a,
.delete {
  width: 70%;
  margin: auto;
  background-color: var(--other-color);
  text-align: center;
  border-radius: 5px;
  margin-top: 26px;
  color: #000;
  font-weight: 500;
  padding: 10px 2%;
  font-family: var(--text-font);
  border: none;
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}

.prrdv:hover,
.delete:hover,
#deleteRdvButton:hover {
  background-color: #976767;
  color: var(--other-color);
  font-weight: 700;
}

.delete {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0;
  height: auto;
  width: 60%;
}

.delete a {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-size: 0.7rem;
  margin: 0;
}

.pf-struct {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pf-struct input {
  text-align: center;
  width: 90%;
  font-size: 1.1rem;
  margin: auto;
  height: 30px;
  border-radius: 8px;
  background: var(--main-bg-color);
  padding: 8px 15px;
}

.rdv-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rdv-details form {
  width: 70%;
}

.rdv-details p {
  width: 100%;
  text-align: center;
  font-weight: 600;
}

#deleteRdvButton {
  text-align: center;
  width: 100%;
  background-color: var(--other-color);
  color: #000;
  padding: 8px;
  font-family: var(--text-font);
  border-radius: 7px;
  border: none;
  border: 1px solid var(--dark-pink);
  cursor: pointer;
}
/********* CSS du footer  *******/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--dark-pink);
  color: var(--color-text-footer);
  font-family: var(--text-font);
  padding: 20px 0;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 10px;
}

.insta,
.tiktok {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  color: var(--color-text-footer);
  gap: 6px;
}

.socials i {
  font-size: 1.4rem;
}

.socials p {
  font-weight: 800;
  font-size: 1rem;
}

.nav-down ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.nav-down li {
  list-style: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
  flex-basis: 25%;
}

.nav-down a {
  font-weight: 600;
  color: var(--color-text-footer);
}

.nav-down ul::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  margin: auto;
  height: 1px;
  z-index: 2;
  background-color: var(--color-text-footer);
}

.nav-down ul::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  margin: auto;
  height: 1px;
  z-index: 2;
  background-color: var(--color-text-footer);
}

.copy {
  text-align: center;
  margin-top: 8px;
  font-size: 0.6rem;
}

/* Responsive */

/* pour l'ordinateur */
@media screen and (min-width: 900px) {

 

  .menu-toggle {
    display: none;
  }

  .logout {
    font-size: 1.5rem;
  }

  .navordi {
    display: flex;
    font-family: var(--text-font);
  }

  .navordi-not-connected {
    width: 65%;
 
  }


  .navordi-connected {
    width: 70%;
  }

  .navordi ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  .navordi ul li {
    list-style: none;
    text-align: center;
    width: 35%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
  
.navordi ul li a {
    color: var(--other-color);
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 13px;
    padding: 8px 0;
    box-shadow: 4px 4px 10px #8e605f;
    transition: 0.2s step-start;
    flex-grow: 1;
}

  .navordi ul li a:hover {
    color: var(--white);
    box-shadow: none;
  }

  .logo {
    margin-top: 120px;
  }

  .logo img {
    width: 270px;
    margin-top: -108px;
  }

  h1 {
    font-size: 2.8rem;
  }
  .logo h1::first-letter {
    font-size: 3.4rem;
  }

  /*description*/

  .description {
    display: flex;
    align-items: center;
    gap: 2%;
    width: 95%;
    margin: 25px 0;
  }

  .description img {
    width: 50%;
    height: auto;
    border-radius: 8px 0 0 8px;
  }
  .description p {
    width: 50%;
  }

  .certificate {
    width: 95%;
    margin-bottom: 18px;
  }

  .document {
    display: flex;
    justify-content: center;
    gap: 8%;
    margin: 0;
  }

  .document .img {
    width: 40%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.3s ease-in-out;
    margin: 0;
  }
  .document img:hover {
    transform: scale(1.1);
  }

  .prev {
    left: 15px;
  }
  .next {
    right: 15px;
  }

  /* responsive profil */

  .rdv-details form {
    width: 40%;
  }

  /* responsive login  */

  .formulairelog {
    width: 50%;
  }

  .formulairelog a {
    font-size: 0.9rem;
  }

  .formulairelog form {
    width: 100%;
  }

  /* responsive register  */

  form label,
  legend {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 12px;
    font-family: var(--text-font);
    color: #000000ae;
  }

  .register {
    width: 50%;
  }

  .compte form { 
    width: 70%; 
  }

  /* responsive prestation  */

  .title {
    width: 42%;
  }

  .presta img {
    width: 42%;
  }

  .image img {
    width: 45%;
    height: 450px;
    filter: brightness(70%);
    transition: 0.3s ease-in;
  }

  .image img:hover {
    filter: brightness(110%);
  }

  .info-presta {
    width: 85%;
    margin: 0 auto 40px auto;
    flex-direction: row;
    gap: 20px;
  }

  .ingo-presta p {
    display: block;
  }

  /* responsive calendar  */

  .contact {
    width: 90%;
  }

  .mobile-calendar {
    display: none;
  }

  #inspiration, #ongle_actuel, #prestation {
    width: 35%;
  }

  textarea {
    width: 80%;
  }

  .desktop-calendar {
    display: flex;
    margin-bottom: 10px;
  }
 
  /* responsive tarif  */

  .group-tarif {
    width: 80%;
  }

  /* responsive footer  */
  footer {
    padding: 28px 0;
  }
  .socials {
    width: 80%;
    margin: auto;
    flex-direction: row;
  }

  .insta,
  .tiktok {
    gap: 10px;
  }

  .insta p,
  .tiktok p {
    font-size: 1.2rem;
  }

  .insta i,
  .tiktok i {
    font-size: 1.6rem;
  }

  .nav-down ul {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 35px;
  }

  .nav-down ul li {
    flex-basis: 30%;
    white-space: nowrap;
  }

  .copy {
    margin-top: 25px;
    font-size: 0.7rem;
  }
}
